<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8'>
    <!-- Toma la variable tittle que mando la funcion render de Flask y lo imprime. -->
    <!-- Por eso el uso de -->
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename = 'css/normalize.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel='stylesheet'>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
  </head>
  <body class='fondo-pantalla'>
    <!-- Escucha cuando aparece un message flash y lo muestra -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
    {% if message == 'error'%}
    <li class="error"> Usuario creado con exito </li>
    {% endif %}
    {% if message == 'success'%}
    <li class="success"> Usuario creado con exito </li>
    {% endif %}
    {% if message == 'exist'%}
    <li class="success"> El usuario ya existe </li>
    {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <nav class='nav' id='barra-nav'>
      <ul id='lista-barra-nav'>
        <li>
          <p class='titulo-barra absolute'>DAIELCHOM</p>
        </li>
      </ul>
    </nav>
    <!-- bloque content -->
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename = 'js/jquery-1.12.0.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}" type='text/javascript'></script>
  </body>
</html>
