{% extends 'base.html' %}

{% block content %}

%div.ancho-medio.relative.centrado.top5em#divform
  %form.form-control.roboto.absolute#estilo-form{action:'/usuarios'}
    %img.absolute.top0.left0.ancho100.block{src:"{{ url_for('static', filename = 'img/fondo.jpg') }}"}
    %div.absolute.block.ancho100#card
      %h3.bold.grey900 USUARIOS
      %p Sistema de administracion de usuarios
      %div.absolute.left60
        %input.estilo-boton.hidden.grey500{type:'button', value:'CONSULTAR',id:'consulta'}
        %input.estilo-boton.grey900{type:'submit', value:'AGREGAR'}



{% endblock %}
