<!-- Hereda de base -->
{% extends 'base.html' %}
<!-- Pondra lo que contenga este bloque content en el bloque content de base.html -->
{% block content %}
<!-- importa la funcion para renderizar los input -->
{% from '_macro.html' import render_field%}
<div class='ancho-medio relative centrado top5em' id='divform'>
  <form action='/usuarios' class='centrado relative {{clases[1]}}' id='estilo-form'>
    <h1>Usuarios</h1>
    <input name='csrf_token' type='Hidden' value='{{csrf_token()}}'>
    <div class='camposform relative centrado'>
      <!-- renderiza los input -->
      {{render_field(formulario.cedula, class="roboto inputForm", id = "cedula", pattern = "[0-9]{4,25}",required="True")}}
      {{render_field(formulario.cedula.label, class = "labelForm ")}}
      {{render_field(formulario.nombres, class="roboto inputForm " + clases[0], id = "nombres", pattern = "[a-zA-Z0-9 ]{4,25}", required="True")}}
      {{render_field(formulario.nombres.label, class = "labelForm " + clases[0])}}
      {{render_field(formulario.apellidos, class="roboto inputForm " + clases[0], id = "apellidos",pattern = "[a-zA-Z0-9 ]{4,25}",required="True")}}
      {{render_field(formulario.apellidos.label, class = "labelForm " + clases[0])}}
      {{render_field(formulario.direccion, class="roboto inputForm " + clases[0], id = "direccion",pattern = "[a-zA-Z0-9 ]{4,25}",required="True")}}
      {{render_field(formulario.direccion.label, class = "labelForm " + clases[0])}}
      {{render_field(formulario.correo, class="roboto inputForm " + clases[0], id = "correo",required="True")}}
      {{render_field(formulario.correo.label, class = "labelForm " + clases[0])}}
      {{render_field(formulario.fecha_de_nacimiento, class="roboto inputForm " + clases[0], id = "fecha",required="True")}}
      {{render_field(formulario.fecha_de_nacimiento.label, class = "labelForm " + clases[0])}}
    </div>
    <div class='botonesform relative'>
      <input class='roboto {{clases[3]}}' formmethod='GET' id='consultar' name='bt-consultar' type='submit' value='CONSULTAR'>
      <input class='roboto {{clases[3]}}' id='crear' name='bt-crear' type='button' value='CREAR'>
    </div>
    <div class='botonesconsultar relative'>
      <input class='roboto {{clases[0]}}' id='modificar' name='bt-modificar' type='button' value='MODIFICAR'>
      <input class='roboto {{clases[0]}}' id='eliminar' name='bt-eliminar' type='button' value='ELIMINAR'>
      <input class='roboto {{clases[0]}}' id='listo' name='bt-listo' type='button' value='LISTO'>
    </div>
    <div class='botoncirculo'>
      <input class='hidden' formmethod='POST' id='check' name='bt-check' type='submit' value=''>
        <i class='hidden material-icons' id='iconcheck'>
          done
        </i>
      </input>
    </div>
  </form>
</div>
{% endblock %}
